<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <form action="" method="post">
            <div>
                <label for="benutzername">Benutzername</label>
                <input type="text" name="benutzername" required>
              </div>
              <div>
                <label for="password">Passwort</label>
                <input type="password" name="password" required>
              </div>
              <div>
                <label for="repassword">Passwort wiederholen</label>
                <input type="password" name="repassword" required>
              </div>
              <button type="submit">Registrieren</button>
        </form>
        <a href="/login">Login</a>
    </body>
</html>